body {
  margin: 0;
  font-family: Arial;
  background: #070b14;
  color: white;
  scroll-behavior: smooth;
}

/* NAV */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: rgba(10,10,20,0.95);
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
}

.navbar a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #00bfff;
}

/* HERO (profil direct) */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 120px 80px;
  align-items: center;
}

.hero h1 span {
  color: #00bfff;
}

.hero-img img {
  width: 250px;
  border-radius: 50%;
  border: 3px solid #00bfff;
}

.contact-mini {
  margin: 15px 0;
  color: #aaa;
}

/* BUTTONS */
.buttons a {
  padding: 10px 15px;
  border: 1px solid #00bfff;
  margin-right: 10px;
  color: white;
  text-decoration: none;
}

/* SECTIONS */
.section {
  padding: 80px;
}

h2 {
  color: #00bfff;
}

/* CARDS */
.card {
  background: #111a2b;
  padding: 15px;
  margin: 10px 0;
  border-left: 3px solid #00bfff;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.box {
  background: #111a2b;
  padding: 20px;
  text-align: center;
}

/* CONTACT */
.contact-box {
  display: flex;
  gap: 50px;
}

input, textarea {
  width: 300px;
  margin: 5px 0;
  padding: 10px;
  background: #111;
  border: 1px solid #00bfff;
  color: white;
}

button {
  padding: 10px;
  background: #00bfff;
  border: none;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 20px;
  background: #0b0f1a;
}
